#Official Tool: clang-format version 8.0.0
BasedOnStyle: mozilla
SortIncludes: false
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 95
