BasedOnStyle: llvm
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 95
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializersBeforeComma: true